p {
    text-align: justify;
}
table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #1798A5;
}

table tr th {
    padding: 10px;
    font-size: 16px;
    color: #1798A5;
    text-align: left;
    border-bottom: 2px solid #1798A5;
}
table tr td {
    padding: 5px 10px;
}
table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    padding: 10px;
    margin: 10px 0;
}

fieldset legend {
    border-bottom: 2px solid #1798A5;
    width: 100%;
}
div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
textarea,
select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    color: #555;
    margin: 5px 0;
}
input[type="submit"] {
    margin: 10px 0;
}
.cboxPhoto {
    width: 50%;
    height: auto;
}
.img-preview {
    width: 60%;
    height: auto;
    display: block;
    margin: 5px 0;
}
.navbar {
    border-radius: 0 !important;;
}
.form {
    width: 30%;
    background: #3b3a36;
    margin: 0 auto;
    padding: 0px 20px;
}
.form label {
    color: #e9ece5;
}
.form .btn-form {
    padding: 5px 25px;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 600;
    display: block;
    background: white;
    border: 2px solid white;
}
.form h1,
.form h2,
.form h3,
.form h4,
.form h5,
.form h6,
.form a {
    color: white
}
.btn-form:hover {
    color: white;
    background: inherit;
    border: 2px solid white;
}

.text-center {
    display: block;
}